.movie-detail {
    margin-bottom: 10px;
    overflow: hidden;
    font: 14px/18px Roboto,"Helvetica Neue",sans-serif;

    h2 {
        font-weight: 700;
        float: left;
        margin-right: 5px; 
    }
}