<mat-toolbar color="primary" class="header">

    <img src="../assets/images/logo.png" class="logo" alt="Star Wars Logo"> 

    <ul class="menu">
        <li class="menu__item">
            <button mat-button [routerLink]="['/movies']">
                <mat-icon>local_movies</mat-icon>
                <span>Movies</span>
            </button>
        </li>
        <li class="menu__item" [routerLink]="['/characters']">
            <button mat-button>
                <mat-icon>person_pin</mat-icon>
                <span>Characters</span>
            </button>
        </li>
        <li class="menu__item" [routerLink]="['/droids']">
            <button mat-button>
                <mat-icon>android</mat-icon>
                <span>Droids</span>
            </button>
        </li>
        <li class="menu__item" [routerLink]="['/locations']">
            <button mat-button>
                <mat-icon>my_location</mat-icon>
                <span>Locations</span>
            </button>
        </li>
    </ul>

    <div class="dropdown-menu">
        <button mat-icon-button [matMenuTriggerFor]="toggleMenu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #toggleMenu="matMenu">
            <button mat-menu-item>
                <mat-icon>perm_identity</mat-icon>
                <span>Login</span>
            </button>
        </mat-menu>
    </div>

</mat-toolbar>


<router-outlet></router-outlet>